<h1>WELCOME BACK JACOB!</h1>

<style>    
h1 {
  color: red;
  font-size: 100px;
  
  
}
  * {
    color:red
  }
  div {
    font-size: 55px;
  }
</style>

<div class="btn-group">
  <button type="button" class="glyphicon glyphicon-comment"><a href="http://jsbin.com/secapi/1">MY NAME</a></button>
  <button type="button" class="glyphicon glyphicon-signal"><a href="https://www.humblebundle.com/">MY Games</a></button>
  <button type="button" class="glyphicon glyphicon-volume-off"><a href="http://totale.rosettastone.com/">MY Spanish</a></button>
  <button type="button" class="glyphicon glyphicon-play-circle"><a href="http://www.netflix.com/">MY Life</a></button>
  <button type="button" class="glyphicon glyphicon-headphones"><a href="https://listen.beatsmusic.com/">MY Music</a></button>
    <button type="button" class="glyphicon glyphicon-globe"><a href="http://antigravitygoogle.com/">MY Google</a></button>
</div>

<body>
  
  <img src="http://media3.giphy.com/media/7izvpUrQVlUVG/200.gif" height=400px width=400px>
  
  </body>